*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: dubai;
}
section{
	position: relative;
	min-height: 100vh;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}
section h2{
	color: #fff;
	font-size: 13em;
	cursor: default;
}

section p{
	color: #fff;
	font-size: 50px;
	cursor: default;
}

.light{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background: radial-gradient(circle at var(--x) var(--y) , transparent 10%, rgba(0,0,0,0.95) 20%);
}

.img{
    display: contents;
   align-items: center;
   align-self: center;
    
}

.pic{
    size: 100px;
    width: 200px;
    height: auto;
}

#txt{
    text-align: center;
}

#1{
    align-items: flex-start;
    margin-left: 200px;
}

.pic:hover{
    transition: width 2s, height 2s;
    size: 200px;
    width: 300px;
    height: auto;
}